//Colors
$color-white: #ffffff;
$color-lightgray: rgba(255, 255, 255, 0.5);
$color-darkgray: #222831;
$color-lightblack: #13171d;
$color-pink: #e3207b;
$color-pink-hover: #cf1a6f;
$color-black: #000000;
$color-nav-bar: rgba(255, 255, 255, 0.6);
$color-dots: #cccccc;
$color-event-date: #6c757d;
$color-footer-content: #737373;
$color-footor-nav: #999999;

//Fonts
$font-nunito-sans: "Nunito Sans", sans-serif;
$font-oswald: "Oswald", sans-serif;
$uppercase: uppercase;
$text-center: center;
$line-height: 1.7;

$pointer: pointer;
