.listener-item {
  background-color: $color-white;
  text-align: $text-center;
  box-sizing: border-box;
  padding: 50px;
  margin-right: 25px;
  img {
    width: 45%;
    border-radius: 100%;
    margin-bottom: 7%;
  }
  &-text {
    h3 {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    p {
      font-style: italic;
      line-height: $line-height;
      margin-bottom: 10px;
      font-size: 17px;
    }
  }
}
